<section class="bg-tttBlack relative overflow-hidden py-16">
    <div class="ttt-page-container">
        <p-carousel
            class="-mx-2"
            [value]="galleryImages()"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="true"
            [showNavigators]="false"
            [autoplayInterval]="5000"
            [responsiveOptions]="responsiveOptions"
        >
            <ng-template #item let-item>
                <div class="px-2">
                    <img
                        [src]="item.itemImageSrc"
                        alt="{{ item.alt }}"
                        title="{{ item.alt }}"
                        class="aspect-video w-full rounded-xl object-cover"
                        loading="lazy"
                    />
                </div>
            </ng-template>
        </p-carousel>
        <div class="mt-8 text-center">
            <p class="ttt-constrained-text ttt-feature-description md:text-lg">
                Einblicke aus unseren <span class="ttt-accent-text font-semibold">Events</span>
            </p>
        </div>
    </div>
</section>
