<section class="bg-tttBlack relative overflow-hidden py-16">
    <div class="ttt-page-container">
        <p-galleria
            [value]="galleryImages"
            [showThumbnails]="false"
            [showIndicators]="true"
            [circular]="true"
            [autoPlay]="true"
            [transitionInterval]="5000"
            [containerStyle]="{ 'max-width': '100vw', margin: 'auto' }"
            styleClass="w-full rounded-xl shadow-lg"
        >
            <ng-template pTemplate="item" let-item>
                <img
                    [src]="item.itemImageSrc"
                    alt="Galerie-Bild"
                    title="Galerie-Bild"
                    [alt]="item.alt"
                    [title]="item.alt"
                    class="h-64 w-full rounded-xl object-cover"
                />
            </ng-template>
        </p-galleria>
        <div class="mt-8 text-center">
            <p class="ttt-constrained-text ttt-feature-description md:text-lg">
                Einblicke aus unseren <span class="ttt-accent-text font-semibold">Events</span>
            </p>
        </div>
    </div>
</section>
