<section class="overflow-hidden">
    <p-galleria
        [value]="bannerSlides()"
        [showThumbnails]="false"
        [showIndicators]="true"
        [showIndicatorsOnItem]="true"
        indicatorsPosition="bottom"
        [circular]="true"
        [autoPlay]="true"
        [transitionInterval]="8000"
        [containerStyle]="{ width: '100%' }"
        styleClass="w-full"
    >
        <ng-template pTemplate="item" let-slide>
            <div class="relative h-80 w-full">
                <img
                    [src]="slide.image"
                    alt="{{ slide.title }} {{ slide.titleAccent }} - {{ slide.subtitle }}"
                    title="{{ slide.title }} {{ slide.titleAccent }}"
                    class="h-full w-full object-cover"
                />
                <div class="absolute inset-0 h-full w-full bg-black/60"></div>
                <div class="absolute inset-0 z-10 flex h-full items-center">
                    <div class="ttt-hero-container">
                        <h1 class="ttt-hero-title">
                            {{ slide.title }} <span class="text-tttRed">{{ slide.titleAccent }}</span>
                        </h1>
                        <p class="ttt-hero-text">
                            {{ slide.subtitle }}
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-galleria>
</section>
